header{
    background-color: #8f9924;
    height: 5em;
    width: 42vw;
    margin-left: 0.5em;
}

body{
    background-color: #acc95f;
}

h2{
    font-size: 45px;
    padding: 17px;
    color: bisque;
    margin-left: 6em;
}
h1{
    font-size: 30px;
    margin-left: 2em;
    margin-top: 4.4em;
    color:green

}
h3{
    font-size: 50px;
    margin-left: 2.7em;
    margin-top: 0.5em;
    color:green
}
.calculadora{
    height: 3em;
    width: 8em;
    margin-left: 18em;
    margin-top: 2em;
}

footer{
    background-color:#8f9924;
    height: 6em;
    width: 42vw;
    margin-left: 0.5em;
}
.pai{
    background-color: #dffda7;
    height: 35vw;
    width: 40vw;
    border-style: groove;
    border-color: #dffda7;
    border-width: 3px;
    margin: 15px;
}
.nota{
    margin-left: 11.5em;
    margin-top: 1em;
}
.minibox{
    background-color: goldenrod;
    height: 7em;
    width: 20em;
    margin-left: 7em;
    margin-top: 15px;
    border-style: groove;
    border-color: yellow;
    border-width: 3px;
}